<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Assignment-4</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CustomerReg</servlet-name>
    <servlet-class>Servlets.CustomerRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReg</servlet-name>
    <url-pattern>/creg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerLog</servlet-name>
    <servlet-class>Servlets.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLog</servlet-name>
    <url-pattern>/clogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteRev</servlet-name>
    <servlet-class>Servlets.WriteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteRev</servlet-name>
    <url-pattern>/writerev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddView</servlet-name>
    <servlet-class>Servlets.AddViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddView</servlet-name>
    <url-pattern>/addview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewOrder</servlet-name>
    <servlet-class>Servlets.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrder</servlet-name>
    <url-pattern>/vieworder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rreg</servlet-name>
    <servlet-class>Servlets.SalesmanRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rreg</servlet-name>
    <url-pattern>/rreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Rlogin</servlet-name>
    <servlet-class>Servlets.SalesmanLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rlogin</servlet-name>
    <url-pattern>/rlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sreg</servlet-name>
    <servlet-class>Servlets.StoreMRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sreg</servlet-name>
    <url-pattern>/smreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Slogin</servlet-name>
    <servlet-class>Servlets.StoreMLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Slogin</servlet-name>
    <url-pattern>/smlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Smo</servlet-name>
    <servlet-class>Servlets.StoreOpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Smo</servlet-name>
    <url-pattern>/adu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetN</servlet-name>
    <servlet-class>Servlets.GetNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetN</servlet-name>
    <url-pattern>/dispupd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateV</servlet-name>
    <servlet-class>Servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateV</servlet-name>
    <url-pattern>/updateval</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderI</servlet-name>
    <servlet-class>Servlets.OrderItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderI</servlet-name>
    <url-pattern>/orderi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>Servlets.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyOrders</servlet-name>
    <servlet-class>Servlets.MyOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrders</servlet-name>
    <url-pattern>/myorders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Analysis</servlet-name>
    <servlet-class>Servlets.Analysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Analysis</servlet-name>
    <url-pattern>/analysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindData</servlet-name>
    <servlet-class>Servlets.FindData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindData</servlet-name>
    <url-pattern>/fdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <servlet-class>Servlets.AutoCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteServlet</servlet-name>
    <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>
</web-app>